<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f74c47bf63.js" crossorigin="anonymous"></script>

</head>
<body>

    <div>

        <div th:switch="${restaurantes}">

            <h1 style="color: white" th:case="null">Ainda não tem restaurantes cadastrados!</h1>

            <div th:case="*">

                <h1>Restaurantes</h1>

                <table>
                    <thead> <!-- table de itens -->
                    <tr>

                        <td>Nome</td>

                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="restaurante : ${restaurantes}">

                        <td th:text="${restaurante.nome}"></td>
                        <td><a class="btn btn-primary" th:href="@{/editar_restaurante/{id} (id=${restaurante.id})}">Editar</a></td>
                        <td><a class="btn btn-primary" th:href="@{/remover_restaurante/{id} (id=${restaurante.id})}">Remover</a></td>
                        <td><a class="btn btn-primary" th:href="@{/cardapio/{id} (id=${restaurante.id})}">Listar cardápio</a></td>

                    </tr>

                    </tbody>
                </table>

                <div>
                    <a href="/index" class="btn btn-primary">Voltar para index</a>
                </div>

            </div>

        </div>

    </div>

</body>
</html>